@import 'bootstrap/dist/css/bootstrap.min.css';
@font-face {
  font-family: quickSandLight;
  src: url('../public//fonts/Quicksand_Light.otf');
}
@font-face {
  font-family: quickSand;
  src: url('../public//fonts/Quicksand_Book.otf');
}
*{
  font-family: 'quickSand', 'Courier New', monospace;
  color: #236a5c;
}
.w-15{
  width: 15%;
}
.vh-85 {
  height: 85vh;
}

.top-30 {
  top: 30px;
}

.vh-50 {
  height: 50vh;
}
.mt-0 {
  margin-top: 0 !important;
}

.fit-height{
  height: fit-content !important;
}

.primary-bg{
  background-color: #fffefb;
}
.green-bg{
  background-color: #236a5c;
}

.border-green {
  border: 1px solid #236a5c;
}
.text-green, .nav-link:hover{
  color: #236a5c;
}
.text-prim{
  color: #fffefb;
}

.inputField, .inputField:focus, .inputField:hover{
  border-color: #236a5c;
  outline-color: #236a5c;
  box-shadow: none;
}

.hotel-card{
  border: none;
}
.hotel-img{
  width: 100%;
  height: 200px;
  border-radius: 15px;
  
}
.text-hid {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
  margin-top: 30px;
  padding: 30px;
  background-color: #236a5c;
}

.pointer {
  cursor: pointer;
  background-color: #236a5c;
  border: #236a5c;
  color: #fffefb;
}
.pointer:hover{
  background-color: #236a5c;
  color: #fffefb;
}

.spinner-custom {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}


/* Home Banner */
.home-banner{
  overflow: hidden;
  margin-bottom: 30px;
}
.home-banner .text-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-banner p{
  font-weight: 600;
  font-size: 4rem;
  text-transform: uppercase;
}
.home-banner span{
  /* font-family: 'quickSand', 'Courier New', monospace; */
  font-weight: 600;
  font-size: 1.5rem;
}
